# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
tfplan
lambda.zip

# Ignore Terraform provider binaries
infra/terraform/providers/


# Target folder
/java_sqs_client/target/

# Apache Maven binary
/java_sqs_client/apache-maven-3.9.5-bin.tar.gz
