# Ignore Terraform state and lock files
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/.terraform.lock.hcl

# Ignore Terraform provider cache
infra/terraform/providers/

# Ignore zip files and other unnecessary binaries
infra/lambda/*.zip
infra/lambda/lambda_sqs.zip

# Target files or directories
infra/lambda/target/


infra/.terraform/
